#a {
    display: flex;
    justify-content: center;
    text-align: center;
    min-height: 550px;
    box-shadow: 3px 3px 3px #000;
    transition: .5s all;
}

#a:hover {
    background-color: rgb(222, 223, 226);
}

.page-link {
    color: blue;
    background-color: white;
    transition: 1s all;
}

.page-link:hover {
    background-color: blue;
    color: white;
}

.imagenes {
    width: 300px;
    height: 150px;
    image-rendering: initial;
    margin-bottom: 20px;
    margin-top: 10px;
    transition: .5s all;
}

.imagenes:hover {
    rotate: 7grad;
    box-shadow: 30px 30px 30px #000;
}

#b {
    display: flex;
    justify-content: end;
}

span {
    font-size: 25px;
    color: blue;
}