@import "tailwindcss";

@theme {
    --color-navbar: #0f1216;
    --color-cyan-button: #00D2D2;
    --color-background: #161B22;
    --color-text: #F2A01F;
}

html,
body {
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#hero {
    position: relative;
    isolation: isolate;
    background-image: url('/src/assets/fondo_Hero.png');
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

#hero::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.57);
    pointer-events: none;
    z-index: 0;
}

#hero > * {
    position: relative;
    z-index: 1;
}