@import "tailwindcss";

::view-transition-old(root) {
  animation: 500ms cubic-bezier(0.4, 0, 0.2, 1) both slide-out-to-left;
}

::view-transition-new(root) {
  animation: 500ms cubic-bezier(0.4, 0, 0.2, 1) both slide-in-from-right;
}

@keyframes slide-in-from-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-out-to-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}