---
import Github from "./icons/Github.astro";
import LinkedIn from "./icons/LinkedIn.astro";
---

<footer class="bg-navbar flex flex-row items-center justify-center gap-4 py-4">
    <a href="https://www.linkedin.com/in/leonardo-jose-lobo-candelario-0705b634a/" target="_blank" rel="noopener noreferrer" class="transition-transform duration-500 hover:-translate-y-10">
        <LinkedIn />
    </a>
    <a href="https://github.com/leonardo02lobo" target="_blank" rel="noopener noreferrer" class="transition-transform duration-500 hover:-translate-y-10">
        <Github />
    </a>
</footer>